<div class="container-fluid">

        <div class="row">

                <div ng-include="'views/usuario/component/sidebar.html'"></div>

                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4" style="margin-top: -90px">

                        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                                <h1 class="h2">Agendamento</h1>
                                <h3 style="float: right">{{agendamento.statusAgendamento | statusAgendamentoLabel}}</h3>
                        </div>

                        <br/>

                        <form class="needs-validation" novalidate>
                        
                                <div class="row">
                                        <div class="col-md-6 mb-3">
                                                <label for="dataInicio">Data Inicio</label>
                                                <input type="text" class="form-control" id="dataInicio" ng-value="agendamento.dataInicio | date:'dd/MM/yyyy hh:mm'" readonly/>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                                <label for="dataFim">Data Fim</label>
                                                <input type="text" class="form-control" id="dataFim" required ng-value="agendamento.dataFim | date:'dd/MM/yyyy hh:mm'"readonly/>
                                        </div>
                                </div>
                        
                        </form>

                        <h4 class="mb-3">Informações do Society</h4>

                        <div class="card">
                                <div class="card-body">
                                        <div class="row">
                                                <div class="col-md-8">
                                                        <h3 class="card-title">{{agendamento.society.nome}}</h3>
                                                        <p ng-if="agendamento.society.descricao != null" class="lead">{{agendamento.society.descricao}}</p>
                                                        <p class="card-text">Valor por hora: R${{agendamento.society.valorHora}}</p>
                                                        <p ng-if="agendamento.society.observacao != null" class="card-text">Observação: {{agendamento.society.observacao}}</p>
                                                        <p class="card-text">Quantidade de campos: {{agendamento.society.quantidadeCampos}}</p>
                                                        <p class="card-text">Nome do responsável: {{agendamento.society.nomeResponsavel}}</p>
                                                        <p class="card-text">Celular: {{agendamento.society.celular}}</p>
                                                        <p ng-if="agendamento.society.telefone != null" class="card-text">Telefone: {{agendamento.society.telefone}}</p>
                                                        <p ng-if="agendamento.society.login.email != null" class="card-text">Email: {{agendamento.society.login.email}}</p>
                                                        <p class="card-text">Endereço: {{agendamento.society.endereco}}, CEP {{agendamento.society.cep}}</p>
                                                </div>        
                                                <div class="col-md-4">
                                                        <img class="featurette-image img-fluid mx-auto" height="236" width="236"  ng-src="{{agendamento.society.urlFoto}}" />
                                                </div>        
                                        </div>
                                </div>
                        </div>

                </main>
        </div>
</div>




