<div class="container-fluid">
        <div class="row">

                <div ng-include="'views/usuario/component/sidebar.html'"></div>

                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4" style="margin-top: -90px">
                                        
                        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                                <h1 class="h2">Avaliar</h1>
                        </div>

                        <br/>

                        <div ng-repeat="agendamento in pendentes | orderBy:'dataInicio'">
                                <div class="card">
                                        <div class="card-body">
                                                <div class="row">
                                                        <div class="col-md-8">
                                                                <h3 class="card-title">{{agendamento.society.nome}}</h3>
                                                                <p class="lead">Data: {{agendamento.dataInicio | date:'dd/MM/yyyy'}} as {{agendamento.dataInicio | date:'hh:mm'}} até {{agendamento.dataFim | date:'hh:mm'}}</p>
                                                                <p class="card-text">Nome do responsável: {{agendamento.society.nomeResponsavel}}</p>
                                                                <p class="card-text">Celular: {{agendamento.society.celular}}</p>
                                                                <br/>
                                                                <div class="row">
                                                                        <div class="col-md-12">
                                                                                <label for="nota">Nota de satisfação (1 à 10)</label>
                                                                                <input type="number" class="form-control" max="10" min="1" id="nota" required ng-model="avaliacao.nota" />
                                                                        </div>
                                                                        <div class="col-md-12" style="margin-top: 10px">
                                                                                <label for="descricao">Descricao</label>
                                                                                <textarea rows="3" type="text" class="form-control" id="descricao" ng-model="avaliacao.descricao"/>
                                                                        </div>
                                                                </div>       
                                                                <button class="btn btn-success" style="float:right; margin-top: 10px" ng-click="avaliar(agendamento)">AVALIAR</button> 
                                                        </div>        
                                                        <div class="col-md-4">
                                                                <img class="featurette-image img-fluid mx-auto" height="236" width="236"  ng-src="{{agendamento.society.urlFoto}}" />
                                                        </div>        
                                                </div>
                                        </div>
                                </div>
                                <br/>
                        </div>

                </main>

        </div>
</div>
