<meta charset="UTF-8" />

<div class="row font-bold">

	<div class="col s3">
		<a href="#/event/insert">
			<div class="card-panel center-align hoverable red white-text font-bold">
				NOVO EVENTO
			</div>
		</a>
	</div>
	<div class="col s3">
		<a href="#/event/list">
			<div class="card-panel center-align hoverable red white-text font-bold">
				EVENTOS
			</div>
		</a>
	</div>
	<div class="col s3">
		<a href="#/offer">
			<div class="card-panel center-align hoverable red white-text font-bold">
				OFERTAS
			</div>
		</a>
	</div>
	<div class="col s3">
		<a href="#/settings">
			<div class="card-panel center-align hoverable red white-text font-bold">
				CONFIGURAÇÕES
			</div>
		</a>
	</div>

</div>