<div class="row">
        <div class="col-md-12">
                <label for="busca"><h3 class="mb-3">Encontre o seu society favorito</h3></label>
                <input  class="form-control" id="busca" type="text" placeholder="Digite o nome do society" ng-model="busca">
        </div>
</div>

<br/>

<div ng-repeat="society in societies | filter: busca | limitTo: 10 ">

        <div class="card">
                <div class="card-body">
                        <div class="row">
                                <div class="col-md-8">
                                        <h3 class="card-title">{{society.nome}}</h3>
                                        <p class="lead">{{society.descricao}}</p>
                                        <p class="card-text">Contato: {{society.celular}}</p>
                                        <p class="card-text">Valor por hora: R${{society.valorHora}}</p>
                                        <p class="card-text">Endereço: {{society.endereco}}</p>
                                        <a class="btn btn-success" ng-href="#/agendar-jogo/{{society.nomeUrl}}">Agendar</a>
                                </div>        
                                <div class="col-md-4">
                                        <img class="featurette-image img-fluid mx-auto" height="236" width="236"  ng-src="{{society.urlFoto}}" />
                                </div>        
                        </div>
                </div>
        </div>

        <br/>
</div>