<hr class="featurette-divider">

<footer class="container page-footer font-small blue pt-4">

        <div class="container-fluid text-center text-md-left">

                <div class="row">

                        <div class="col-md-6 mt-md-0 mt-3">

                                <h5 class="text-uppercase">SOBRE</h5>
                                <p>Agende seus jogos no campo que desejar conforme a disponibilidade.</p>
                                <p><a href="#/society/cadastro">Cadastre seu society</a></p>
        
                        </div>

                        <hr class="clearfix w-100 d-md-none pb-3">

                        <div class="col-md-3 mb-md-0 mb-3">

                        </div>

                        <div class="col-md-3 mb-md-0 mb-3">

                                <h5 class="text-uppercase">REDES SOCIAIS</h5>

                                <ul class="list-unstyled">
                                        <li>
                                        <a href="#/">Facebook</a>
                                        </li>
                                        <li>
                                        <a href="#/">Instagram</a>
                                        </li>
                                </ul>

                        </div>

                </div>

        </div>

</footer>