<meta charset="UTF-8" />
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#/">
            <img class="rounded-circle" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/S-Bahn-Logo.svg/220px-S-Bahn-Logo.svg.png" width="40" height="40" alt="">
        </a>
        <form class="form-inline mt-2 mt-md-0">
            <a href="#/agendar-jogo" class="btn btn-outline-success my-2 my-sm-0">AGENDAR JOGO</a>
        </form>
    </div>
</nav>