<!DOCTYPE html>
<html ng-app="societyApp">
<head>
<meta charset="UTF-8" />

<title>Society App - Administrativo</title>
<link href="images/ico.ico" rel="shortcut icon" />

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="lib/css/carousel.css" />

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="lib/js/angular.js"></script>
<script src="lib/js/angular-route.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="lib/js/holder.min.js"></script>

<script src="js/app.js"></script>
<script src="js/configs/interceptorConfig.js"></script>
<script src="js/configs/routeConfigAdmin.js"></script>
<script src="js/configs/baseUrl.js"></script>

<script src="js/interceptors/tokenInterceptor.js"></script>

<script src="js/controllers/admin/agendamentoController.js"></script>
<script src="js/controllers/admin/agendamentosController.js"></script>
<script src="js/controllers/admin/agendarJogoController.js"></script>
<script src="js/controllers/admin/configuracoesController.js"></script>
<script src="js/controllers/admin/societyController.js"></script>

<script src="js/services/societyAPIService.js"></script>
<script src="js/services/agendamentoAPIService.js"></script>
<script src="js/services/loginAPIService.js"></script>

<script src="js/filters/statusAgendamento.js"></script>
<script src="js/filters/tipoAgendamento.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>

<script src="https://unpkg.com/gijgo@1.9.11/js/gijgo.min.js" type="text/javascript"></script>
<link href="https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css" rel="stylesheet" type="text/css" />

<link rel="stylesheet" href="lib/css/styles.css" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

</head>
<body ng-controller="societyController">
	
	<div ng-include="'views/admin/component/navbar.html'"></div>

	<ng-view></ng-view>
	
</body>
</html>