<!DOCTYPE html>
<html ng-app="societyApp">
<head>
<meta charset="UTF-8" />

<title>Society App</title>
<link href="images/ico.ico" rel="shortcut icon" />

<link rel="stylesheet" href="lib/css/bootstrap.css" />
<link rel="stylesheet" href="lib/css/carousel.css" />

<script src="lib/js/jquery-3.3.1.slim.min.js"></script>
<script src="lib/js/angular.js"></script>
<script src="lib/js/angular-route.js"></script>

<script src="lib/js/popper.min.js"></script>
<script src="lib/js/bootstrap.min.js"></script>
<script src="lib/js/holder.min.js"></script>

<script src="js/app.js"></script>
<script src="js/configs/interceptorConfig.js"></script>
<script src="js/configs/routeConfigUsuario.js"></script>
<script src="js/configs/baseUrl.js"></script>

<script src="js/interceptors/tokenInterceptor.js"></script>

<script src="js/controllers/usuario/agendamentoController.js"></script>
<script src="js/controllers/usuario/agendamentosController.js"></script>
<script src="js/controllers/usuario/configuracoesController.js"></script>
<script src="js/controllers/usuario/usuarioController.js"></script>
<script src="js/controllers/usuario/avaliacaoController.js"></script>
<script src="js/controllers/usuario/avaliacoesController.js"></script>

<script src="js/services/usuarioAPIService.js"></script>
<script src="js/services/societyAPIService.js"></script>
<script src="js/services/agendamentoAPIService.js"></script>
<script src="js/services/loginAPIService.js"></script>
<script src="js/services/avaliacaoAPIService.js"></script>

<script src="js/filters/statusAgendamentoLabel.js"></script>
<script src="js/filters/tipoAgendamento.js"></script>

<script src="lib/js/Chart.min.js"></script>

<script src="lib/js/gijgo.min.js" type="text/javascript"></script>
<link href="lib/css/gijgo.min.css" rel="stylesheet" type="text/css" />

<link href="lib/css/styles.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

<link rel="stylesheet" href="lib/css/all.css">

</head>
<body ng-controller="usuarioController">

	<ng-view></ng-view>
	
</body>
</html>