<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img class="rounded-circle" src="images/navlogo.png" width="40" height="40" alt="">
        </a>
        <form class="form-inline mt-2 mt-md-0">
                <a href="/login#/" class="my-2 my-sm-0" style="font-size: 1rem">Entrar</a>
                <a style="margin-left: 15px" href="/login#/cadastrar" class="btn btn-outline-success my-2 my-sm-0">Cadastrar</a>
        </form>
    </div>
</nav>

<div class="container marketing">

        <div class="md-5 text-center" style="margin-top: 50px">
                <h2>Crie seu Login</h2>
                <p class="lead">Preencha o formulário para criar um login.</p>
        </div>

        <form class="needs-validation" novalidate>

                <h4 class="mb-3">Contato</h4>

                <div class="row">
                        <div class="col-md-12 mb-3">
                                <label for="nome">Nome</label>
                                <input type="text" class="form-control" id="nome" placeholder="" value="" ng-model="usuarioDTO.nome" required />
                                <div class="invalid-feedback">
                                        Por favor insira um nome.
                                </div>
                        </div>
                </div>

                <div class="row">
                        <div class="col-md-6 mb-3">
                                <label for="telefone">Telefone Residencial <span class="text-muted">(Opcional)</span></label>
                                <input type="text" class="form-control" id="telefone" ng-model="usuarioDTO.telefone" />
                                <div class="invalid-feedback">
                                        Por favor insira um telefone valido.
                                </div>
                        </div>
                        <div class="col-md-6 mb-3">
                                <label for="celular">Celular</label>
                                <input type="text" class="form-control" id="celular" required ng-model="usuarioDTO.celular" />
                                <div class="invalid-feedback">
                                        Por favor insira um celular valido.
                                </div>
                        </div>
                </div>

                <hr class="mb-4">

                <h4 class="mb-3">Informações de Login</h4>

                <div class="row">
                        <div class="col-md-12 mb-3">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="email" placeholder="seuemail@exemplo.com" ng-model="usuarioDTO.email" required />
                                <div class="invalid-feedback">
                                        Por favor insira um email valido.
                                </div>
                        </div>
                </div>

                <div class="row">
                        <div class="col-md-6 mb-3">
                                <label for="senha">Senha</label>
                                <input type="password" class="form-control" id="senha" ng-model="usuarioDTO.senha" required />
                        </div>
                        <div class="col-md-6 mb-3">
                                <label for="confirmarSenha">Confirmar Senha</label>
                                <input type="password" class="form-control" id="confirmarSenha" ng-model="senhaConfirmada" required />
                        </div>
                </div>

                <hr class="mb-4">

                <button class="btn btn-success btn-lg btn-block" ng-click="salvarUsuario()">SALVAR</button>
        </form>

</div>