<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
</div>

<canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>

<div class="row">
        <div class="col-md-12">
                <h5>Jogos Pendentes de Confirmação</h5>
                <div class="table-responsive" style="margin-top: 10px">
                        <table class="table table-striped table-sm">
                                <thead>
                                        <tr>
                                                <th>Nome</th>
                                                <th>Celular</th>
                                                <th>Inicio</th>
                                                <th>Fim</th>
                                                <th>Visualizar</th>
                                        </tr>
                                </thead>
                                <tbody>
                                        <tr ng-repeat="agendamento in agendamentos | tipoAgendamento: 'AGUARDANDO_SOCIETY' | orderBy:'-dataInicio' | limitTo: 7">
                                                <td>{{agendamento.usuario.nome}}</td>
                                                <td>{{agendamento.usuario.celular}}</td>
                                                <td>{{agendamento.dataInicio | date:'dd/MM/yyyy hh:mm'}}</td>
                                                <td>{{agendamento.dataFim | date:'dd/MM/yyyy hh:mm'}}</td>
                                                <td>
                                                        <a ng-href="#/agendamento/{{agendamento.id}}" class="btn btn-success btn-sm">
                                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                        </a>
                                                </td>
                                        </tr>
                                </tbody>
                        </table>
                </div>
        </div>
</div>
<br/>
<div class="row">
        
        <div class="col-md-12">
                <h5>Jogos Confirmados</h5>
                <div class="table-responsive" style="margin-top: 10px">
                        <table class="table table-striped table-sm">
                                <thead>
                                        <tr>
                                                <th>Nome</th>
                                                <th>Celular</th>
                                                <th>Inicio</th>
                                                <th>Fim</th>
                                        </tr>
                                </thead>
                                <tbody>
                                        <tr ng-repeat="agendamento in agendamentos | tipoAgendamento: 'CONFIRMADO' | orderBy:'-dataInicio' | limitTo: 7">
                                                <td>{{agendamento.usuario.nome}}</td>
                                                <td>{{agendamento.usuario.celular}}</td>
                                                <td>{{agendamento.dataInicio | date:'dd/MM/yyyy hh:mm'}}</td>
                                                <td>{{agendamento.dataFim | date:'dd/MM/yyyy hh:mm'}}</td>
                                        </tr>
                                </tbody>
                        </table>
                </div>
        </div>
</div>

<script>
        var ctx = document.getElementById("myChart");
        var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                        labels: ["Janeiro", "Fevereiro", "Março", "Maio", "Abril", "Junho", "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro"],
                        datasets: [{
                        data: [55, 47, 30, 75, 12, 72, 96, 70, 84, 53, 31, 11],
                        lineTension: 0,
                        backgroundColor: 'transparent',
                        borderColor: '#007bff',
                        borderWidth: 4,
                        pointBackgroundColor: '#007bff'
                        }]
                },
                options: {
                        scales: {
                        yAxes: [{
                        ticks: {
                                beginAtZero: false
                        }
                        }]
                        },
                        legend: {
                        display: false,
                        }
                }
        });
</script>