<div class="container marketing">

        <div class="py-5 text-center">
                <h2>Agende seu Jogo</h2>
                <p class="lead">Preencha o formulário para agendar o seu jogo.</p>
        </div>
                          
        <h4 class="mb-3">Informações Pessoais</h4>

        <form class="needs-validation" novalidate>

                <div class="row">
                        <div class="col-md-12 mb-3">
                                <label for="nome">Nome Completo</label>
                                <input type="text" class="form-control" id="nome" placeholder="" value="" ng-model="agendamento.nomeResponsavel" required />
                                <div class="invalid-feedback">
                                        Por favor insira um nome.
                                </div>
                        </div>
                </div>

                <div class="row">
                        <div class="col-md-6 mb-3">
                                <label for="telefone">Telefone Residencial <span class="text-muted">(Opcional)</span></label>
                                <input type="text" class="form-control" id="telefone" ng-model="agendamento.telefone" />
                                <div class="invalid-feedback">
                                        Por favor insira um telefone valido.
                                </div>
                        </div>
                        <div class="col-md-6 mb-3">
                                <label for="celular">Celular</label>
                                <input type="text" class="form-control" id="celular" required ng-model="agendamento.celular" />
                                <div class="invalid-feedback">
                                        Por favor insira um celular valido.
                                </div>
                        </div>
                </div>
                
                <div class="row">
                        <div class="col-md-12 mb-3">
                                <label for="email">Email <span class="text-muted">(Opcional)</span></label>
                                <input type="email" class="form-control" id="email" placeholder="seuemail@exemplo.com" ng-model="agendamento.email" />
                                <div class="invalid-feedback">
                                        Por favor insira um email valido.
                                </div>
                        </div>
                </div>

                <hr class="mb-4">

                <h4 class="mb-3">Informações do Society</h4>

                <div class="mb-3">

                        <label for="nomeSociety">Society</label>

                        <select id="nomeSociety" ng-change="preencherCamposSociety(agendamento.society.id)" class="form-control" ng-model="agendamento.society.id">
                                <option ng-repeat="society in societies" ng-value="society.id"> {{ society.nome }}</option>
                        </select>
                        <div class="invalid-feedback">
                                Por favor escolha um society.
                        </div>
                </div>

                <div class="row">
                        <div class="col-md-6 mb-3">
                                <label for="valorHora">Valor por hora</label>
                                <div class="input-group">
                                        <div class="input-group-prepend">
                                                <span class="input-group-text">R$</span>
                                        </div>
                                        <input type="text" class="form-control" id="valorHora" ng-model="agendamento.society.valorHora" readonly />
                                </div>
                        </div>
                        <div class="col-md-6 mb-3">
                                <label for="observacao">Observação</label>
                                <input type="text" class="form-control" id="observacao" ng-model="agendamento.society.observacao"  readonly />
                        </div>
                </div>

                <div class="row">
                        <div class="col-md-6 mb-3">
                                <label for="enderecoSociety">Endereço</label>
                                <input type="text" class="form-control" id="enderecoSociety" ng-model="agendamento.society.endereco" readonly/>
                        </div>
                        <div class="col-md-6 mb-3">
                                <label for="cepSociety">CEP</label>
                                <input type="text" class="form-control" id="cepSociety" ng-model="agendamento.society.cep" readonly/>
                        </div>
                </div>

                <div class="row">
                        <div class="col-md-6 mb-3">
                                <label for="celularSociety">Celular</label>
                                <input type="text" class="form-control" id="celularSociety" ng-model="agendamento.society.celular" readonly/>
                        </div>
                        <div class="col-md-6 mb-3">
                                <label for="telefoneSociety">Telefone</label>
                                <input type="text" class="form-control" id="telefoneSociety" ng-model="agendamento.society.telefone" readonly/>
                        </div>
                </div>

                <div class="mb-3">
                        <label for="emailSociety">Email</label>
                        <input type="email" class="form-control" id="emailSociety" ng-model="agendamento.society.email" readonly/>
                </div>

                <hr class="mb-4">

                <h4 class="mb-3">Agendamento</h4>

                <div class="row">
                        <div class="col-md-6 mb-3">
                                <input id="datepicker" ng-model="dataAgendamento.data" />
                                <script>
                                $('#datepicker').datepicker({
                                        uiLibrary: 'bootstrap4',
                                        format: 'dd/mm/yyyy'
                                });
                                </script>
                        </div>
                        <div class="col-md-6 mb-3">
                                <input id="timepicker" ng-model="dataAgendamento.hora" />
                                <script>
                                $('#timepicker').timepicker({
                                        uiLibrary: 'bootstrap4',
                                        modal: false
                                });
                                </script>                 
                        </div>
                </div>

                <div class="row">
                        <div class="col-md-12 mb-3">
                                <label for="observacaoAgendamento">Observação</label>
                                <textarea rows="3" type="text" class="form-control" id="observacaoAgendamento" ng-model="agendamento.observacao"/>
                        </div>
                </div>        

                <br/>

                <hr class="mb-4">

                <button class="btn btn-success btn-lg btn-block" ng-click="agendar()">AGENDAR</button>
        </form>


</div>