<div class="container marketing">

        <div class="md-5 text-center" style="margin-top: 50px">
                <h2>Agende seu Jogo</h2>
                <p class="lead">Preencha o formulário para agendar o seu jogo.</p>
        </div>

        <div class="card">
                <div class="card-body">
                        <div class="row">
                                <div class="col-md-8">
                                        <h3 class="card-title">{{agendamento.society.nome}}</h3>
                                        <p ng-if="agendamento.society.descricao != null" class="lead">{{agendamento.society.descricao}}</p>
                                        <p class="card-text">Valor por hora: R${{agendamento.society.valorHora}}</p>
                                        <p ng-if="agendamento.society.observacao != null" class="card-text">Observação: {{agendamento.society.observacao}}</p>
                                        <p class="card-text">Quantidade de campos: {{agendamento.society.quantidadeCampos}}</p>
                                        <p class="card-text">Nome do responsável: {{agendamento.society.nomeResponsavel}}</p>
                                        <p class="card-text">Celular: {{agendamento.society.celular}}</p>
                                        <p ng-if="agendamento.society.telefone != null" class="card-text">Telefone: {{agendamento.society.telefone}}</p>
                                        <p ng-if="agendamento.society.login.email != null" class="card-text">Email: {{agendamento.society.login.email}}</p>
                                        <p class="card-text">Endereço: {{agendamento.society.endereco}}, CEP {{agendamento.society.cep}}</p>
                                </div>        
                                <div class="col-md-4">
                                        <img class="featurette-image img-fluid mx-auto" height="236" width="236"  ng-src="{{agendamento.society.urlFoto}}" />
                                </div>        
                        </div>
                </div>
        </div>

        <br/>

        <form class="needs-validation" novalidate>

                <h4 class="mb-3">Agendamento</h4>

                <div class="row">
                        <div class="col-md-6 mb-3">
                                <input id="datepicker" ng-model="dataAgendamento.data" />
                                <script>
                                $('#datepicker').datepicker({
                                        uiLibrary: 'bootstrap4',
                                        format: 'dd/mm/yyyy'
                                });
                                </script>
                        </div>
                        <div class="col-md-6 mb-3">
                                <input id="timepicker" ng-model="dataAgendamento.hora" />
                                <script>
                                $('#timepicker').timepicker({
                                        uiLibrary: 'bootstrap4',
                                        modal: false
                                });
                                </script>                 
                        </div>
                </div>

                <div class="row">
                        <div class="col-md-12 mb-3">
                                <label for="observacaoAgendamento">Observação</label>
                                <textarea rows="3" type="text" class="form-control" id="observacaoAgendamento" ng-model="agendamento.observacao"/>
                        </div>
                </div>        

                <hr class="mb-4">

                <button class="btn btn-success btn-lg btn-block" ng-click="agendar()">AGENDAR</button>
        </form>


</div>