<div class="table-responsive">
        <table class="table table-bordered">
                <thead class="thead-light">
                        <tr>
                                <th>Society</th>
                                <th>Celular do Society</th>
                                <th>Inicio</th>
                                <th>Fim</th>
                                <th>Status</th>
                                <th>Visualizar</th>
                        </tr>
                </thead>
                <tbody>
                        <tr ng-repeat="agendamento in agendamentos | orderBy:'-dataInicio'">
                                <td>{{agendamento.society.nome}}</td>
                                <td>{{agendamento.society.celular}}</td>
                                <td>{{agendamento.dataInicio | date:'dd/MM/yyyy hh:mm'}}</td>
                                <td>{{agendamento.dataFim | date:'dd/MM/yyyy hh:mm'}}</td>
                                <td>{{agendamento.statusAgendamento | statusAgendamento}}</td>
                                <td style="text-align: center">
                                        <a ng-href="#/agendamento/{{agendamento.id}}" class="btn btn-success btn-sm">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                        </a>
                                </td>
                        </tr>
                </tbody>
        </table>
</div>
